.btn_square{
    border: 1px outset rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 100%;
    cursor:pointer;
}

.btn_square:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}